<div class="single-container">
  <header class="single-header">
    <h1><%= link_to image_tag('mercari.svg', alt: "PocketTerrace"), root_path %></h1>

  </header>
  <main class="single-main">
    <div class="login-panel">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-form-inner">
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', autocomplete: "email", class: "login-input-text input-default" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off", class: "login-input-text input-default" %>
          </div>

          <%= button_tag "ログイン", class: "login-submit btn-red btn-default" %>
          <%= link_to "パスワードをお忘れの方", '#' %>
        </div>
      <% end %>
    </div>
  </main>
</div>
