<main class="l-container clearfix">
  <div class="l-content">
    <section class="mypage-user-icon">
      <%= link_to '#' do %>
        <figure>
          <%= image_tag('member_photo_no_image_thumb.jpg', alt: 'デフォルト画像', width: '60', height: '60') %>
        </figure>
        <h2>ユーザーネーム</h2>
        <div class="mypage-number">
          <div>
            <div>
              評価
              <span class="bold">評価数</span>
            </div>
            <div>
              出品数
              <span class="bold">出品数</span>
            </div>
          </div>
        </div>
      <% end %>
    </section>
    <section class="mypage-tab-container-notification-todo">
      <ul class="mypage-tabs">
        <li>
          <h3><%= link_to "お知らせ", '#' %></h3>
        </li>
        <li>
          <h3><%= link_to "やることリスト", '#' %></h3>
        </li>
      </ul>
      <div class="tab-content">
        <ul id="mypage-tab-notification" class="mypage-item-list tab-pane">
          <li></li>
          <li class="mypage-go-list"><%= link_to "一覧を見る", '#' %></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="l-side">
    <nav class="mypage-nav">
      <ul class="mypage-nav-list">
        <li><%= link_to "マイページ", '#' , class: "mypage-nav-list-item" %><i class="icon-arrow-right"></i></li>
        <li><%= link_to "お知らせ", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "やることリスト", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "いいね！一覧", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "出品する", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "出品した商品-出品中", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "出品した商品-取引中", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "出品した商品-売却済み", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "購入した商品-取引中", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "購入した商品-過去の取引", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "評価一覧", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "お問い合わせ", '#' , class: "mypage-nav-list-item" %></li>
      </ul>
      <h3 class="mypage-nav-head">設定</h3>
      <ul class="mypage-nav-list">
        <li><%= link_to "プロフィール", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "メール/パスワード", '#' , class: "mypage-nav-list-item" %></li>
        <li><%= link_to "ログアウト", '#' , class: "mypage-nav-list-item" %></li>
      </ul>
    </nav>
  </dmemokeiv>
</main>
